# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Data & Database
data/*.db

# ML Artifacts
ml/*.pkl
ml/*.csv
ml/*.png

# Environment
.env

# Tools
ngrok.exe

# Streamlit
.streamlit/

# Audio files
/data/audio/*.mp3
